:root {
  --background-color: #F8F9FB;
  --base-blue-color: #0079D2;
  --black10-color: #F0F4F8;
  --black80-color: #0B2F59;
  --default-black-color: #062A54;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}


body {
  background: var(--background-color);
  font-family: 'Quicksand', sans-serif;
}

ul {
  align-items: center;
  display: flex;
  gap: 20px;
  padding-left: 20px;
}

ul li {
  color: var(--default-black-color);
  cursor: pointer;
  list-style-type: none;
}

ul li:hover {
  color: var(--base-blue-color);
  text-decoration: underline;
}