.container {
  margin: auto;
  max-width: 1200px;
  overflow: hidden;
  padding: 0 2rem;
}

.contentWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}

.active {
  color: var(--base-blue-color) !important;
}

/* text */
.textCenter {
  text-align: center;
}

.h2 {
  color: var(--default-black-color);
  font-size: 24px;
  font-weight: 700;
}

.h3 {
  color: var(--default-black-color);
  font-size: 24px;
  font-weight: 600;
}


.schoolText {
  color: var(--default-black-color);
  font-size: 16px;
  font-weight: 600;
}

.h4 {
  color: var(--default-black-color);
  font-size: 14px;
  font-weight: 400;
}

.justify_content_center {
  justify-content: center
}

.align_items_center {
  align-items: center
}

.position_fixed {
  margin-left: 24.3rem;
  max-width: 1200px;
  position: fixed;
  width: 100%;
}


/* Utilities */
.pt_1 {
  padding-top: .5rem;
}

.pt_2 {
  padding-top: 1.5rem;
}

.pt_3 {
  padding-top: 2rem;
}

.pt_4 {
  padding-top: 2.5rem;
}

.pt_5 {
  padding-top: 3rem;
}

.pb_1 {
  padding-bottom: .5rem;
}

.pb_2 {
  padding-bottom: 1.5rem;
}

.pb_3 {
  padding-bottom: 2rem;
}

.pb_4 {
  padding-bottom: 2.5rem;
}

.pb_5 {
  padding-bottom: 3rem;
}

.gap_1 {
  gap: 0.5rem;
}

.gap_2 {
  gap: 1rem;
}

.gap_3 {
  gap: 1.5rem;
}

.gap_4 {
  gap: 2rem;
}

@media (max-width: 425px) {
  .position_fixed {
    margin-left: auto;
  }
}

@media (min-width: 640px) {
  .container {
    width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    width: 1536px;
  }
}